/* styles.css */

/* Global Styles */

/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

/* Header Styles */
header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* Navigation Styles */
nav ul {
  list-style-type: none;
  padding: 0;
  background-color: #333;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

/* Main Content Styles */
main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

/* Footer Styles */
footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
